/* Navigation */
.navbar-collapse .navbar-nav .nav-item a:hover {
    color: #ff523b;
}

.cart-item {
    margin-bottom: 1rem;
}

/* Banner */
.banner-image {
    background: url('img/banner.jpg') no-repeat center center / cover;
    min-height: 600px;
}

/* Feature Products Card */
.card-title a {
    color: #333;
    text-decoration: none;
}

#cart-toast{
     position: fixed;
        top: 20px;
        right: 20px;
        background: #28a745;
        color: white;
        padding: 12px 18px;
        border-radius: 6px;
        font-weight: bold;
        display: none;
        z-index: 9999;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        
}

#cart-count {
    color: #ff523b;
}

#cart-items {
    font-size: 25px;
}

#empty-cart {
    font-size: 35px;
}


/* Fix this! */
/* #cart-count {
    position: relative;
        top: -7px;
        right: 10px;
        background: red;
        color: white;
        font-size: 5px;
        padding: 2px 6px;
        border-radius: 50%;
} */

/* Media queries for responsive adjustments */
@media (max-width: 768px) {
    .banner-image {
        min-height: 300px;
        /* Adjust banner image for smaller devices */
    }
}