/* Navigation */
.navbar-collapse .navbar-nav .nav-item a:hover {
    color: #ff523b;
}

.cart-item {
    margin-bottom: 1rem;
}

/* Banner */
.banner-image {
    background: url('img/banner.jpg') no-repeat center center / cover;
    min-height: 600px;
}

/* Feature Products Card */
.card-title a {
    color: #333;
    text-decoration: none;
}


/* Fix this! */
/* #cart-count {
    position: relative;
        top: -7px;
        right: 10px;
        background: red;
        color: white;
        font-size: 5px;
        padding: 2px 6px;
        border-radius: 50%;
} */

/* Media queries for responsive adjustments */
@media (max-width: 768px) {
    .banner-image {
        min-height: 300px;
        /* Adjust banner image for smaller devices */
    }
}